EnvironmentConfigurationMetadata:
  DateCreated: '1563008340000'
  DateModified: '1563008340000'
Platform:
  PlatformArn: arn:aws:elasticbeanstalk:ap-southeast-1:078106402841:platform/SpyceTek_PhpNginxPlatform_AmazonLinux/1.3.0
OptionSettings:
  aws:elasticbeanstalk:application:environment:
    EB_APP_ENV: production
    AWS_REGION: ap-northeast-1
    AWS_ACCESS_KEY_ID: XXXXXXXXXXXXXXXXX
    AWS_SECRET_ACCESS_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    AWS_S3_BUCKET: :app_name:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:autoscaling:launchconfiguration:
    SecurityGroups: web-server,spycetek-db-access
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.small
  AWSEBAutoScalingLaunchConfiguration.aws:autoscaling:launchconfiguration:
    EC2KeyName: :ec2_key_name:
  aws:elasticbeanstalk:container:custom:php:
    composer_options: --no-dev
    apc_enable_cli: 1
    opcache_enable_cli: 1
EnvironmentTier:
  Type: Standard
  Name: WebServer
AWSConfigurationTemplateVersion: 1.1.0.0
