container_commands:
  05-dump-env-var:
    command: env
  # Check if necessary environmental variables are set. Exit as error, if not set.
  10-check-env-var:
    command: |
      if [[ -z "${EB_APP_ENV}" ]]; then
        echo "EB_APP_ENV environmental variable is not set."
        echo "Please configure it from Elastic Beanstalk console, or set in .elasticbeanstalk/saved_configs/*.cfg.yml"
        exit 1
      else
        echo "EB_APP_ENV is set to '${EB_APP_ENV}'"
      fi
      if [[ -z "${AWS_ACCESS_KEY_ID}" ]]; then
        echo "AWS_ACCESS_KEY_ID environmental variable is not set."
        echo "Please configure it from Elastic Beanstalk console, or set in .elasticbeanstalk/saved_configs/*.cfg.yml"
        exit 1
      fi
      if [[ -z "${AWS_SECRET_ACCESS_KEY}" ]]; then
        echo "AWS_SECRET_ACCESS_KEY environmental variable is not set."
        echo "Please configure it from Elastic Beanstalk console, or set in .elasticbeanstalk/saved_configs/*.cfg.yml"
        exit 1
      fi
      if [[ -z "${AWS_REGION}" ]]; then
        echo "AWS_REGION environmental variable is not set."
        echo "Please configure it from Elastic Beanstalk console, or set in .elasticbeanstalk/saved_configs/*.cfg.yml"
        exit 1
      fi
      if [[ -z "${AWS_S3_BUCKET}" ]]; then
        echo "AWS_S3_BUCKET environmental variable is not set."
        echo "Please configure it from Elastic Beanstalk console, or set in .elasticbeanstalk/saved_configs/*.cfg.yml"
        exit 1
      fi
