container_commands:
  # Use .env.{environment}.dist as .env file for each environment.
  # For autotest env, .env should instead be created in Jenkins script.
  10-create-base-dot-env-file:
    command: |
      if [[ "${EB_APP_ENV}" == "autotest" ]]; then # Skip for autotest env
        exit 0
      fi

      if [[ ! -f .env.${EB_APP_ENV}.dist ]]; then
        echo "ERROR: .env.${EB_APP_ENV}.dist file not found in the source bundle!"
        exit 1
      fi
      cp .env.${EB_APP_ENV}.dist .env
      chown nginx:nginx .env

  # Add AWS credentials from Elastic Beanstalk environmental variables to .env file.
  # These credentials are set in .cfg.yml file in .elasticbeanstalk/saved_configs or
  # manually set from Elastic Beanstalk console page.
  # Copying to .env is necessary to use those credentials in October commands, because
  # EB env vars are not available in the environment they are executed.
  20-merge-aws-credentials:
    command: |
      if [[ "${EB_APP_ENV}" == "autotest" ]]; then # Skip for autotest env
        exit 0
      fi

      echo "" >> .env
      echo "#################################################" >> .env
      echo "# Vars copied from EB env vars by deploy script" >> .env
      echo "#################################################" >> .env
      echo "AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}" >> .env
      echo "AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}" >> .env
      echo "AWS_REGION=${AWS_REGION}" >> .env
      echo "AWS_S3_BUCKET=${AWS_S3_BUCKET}" >> .env
      echo "" >> .env

  # Merge credentials saved on S3
  30-merge-other-credentials:
    command: |
      if [[ "${EB_APP_ENV}" == "autotest" ]]; then # Skip for autotest env
        exit 0
      fi

      aws s3 cp s3://${AWS_S3_BUCKET}/private/.env_cred storage/temp/.env_cred
      if [[ $? -ne 0 ]]; then
        echo "ERROR: Failed to retrieve credential file from S3"
        exit 1
      fi
      echo "" >> .env
      echo "######################################################" >> .env
      echo "### Credentials from S3 merged by deploy script" >> .env
      echo "######################################################" >> .env
      cat storage/temp/.env_cred >> .env
      echo "" >> .env
      rm -f storage/temp/.env_cred
