container_commands:
  # Remove all nginx site configuration and make sure dirs exist
  10-clear-nginx-site-config:
    command: |
      rm -rf /etc/nginx/sites-available
      rm -rf /etc/nginx/sites-enabled
      rm -rf /etc/nginx/conf.d
      mkdir -p /etc/nginx/sites-available
      mkdir -p /etc/nginx/sites-enabled
      mkdir -p /etc/nginx/conf.d

  # Deploy nginx site configuration based on the environment specified by EB_APP_ENV.
  20-deploy-nginx-site-config:
    command: |
      cp .ebextensions/files/nginx/${EB_APP_ENV}-frontend-site.conf /etc/nginx/sites-available/
      ln -sf /etc/nginx/sites-available/${EB_APP_ENV}-frontend-site.conf /etc/nginx/sites-enabled/${EB_APP_ENV}-frontend-site.conf
      cp .ebextensions/files/nginx/${EB_APP_ENV}-backend-site.conf /etc/nginx/sites-available/
      ln -sf /etc/nginx/sites-available/${EB_APP_ENV}-backend-site.conf /etc/nginx/sites-enabled/${EB_APP_ENV}-backend-site.conf

  # Deploy nginx Basic Authentication credential file if exists
  21-deploy-basic-auth-credential:
    command: |
      if [[ -f .ebextensions/files/nginx/${EB_APP_ENV}-site_auth ]]; then
        cp .ebextensions/files/nginx/${EB_APP_ENV}-site_auth /etc/nginx/conf.d/
      fi

  # Increase server_names_hash_bucket_size for long server name
  # This directive has to be added to the main conf file (nginx.conf), because certbot will not detect this
  # if it is written in another file 'include'd from nginx.conf.
  25-increase-server_names_hash_bucket_size:
    command: |
      # Get target domain names.
      SITE_DOMAIN=$(grep -E "^[[:space:]]+server_name[[:space:]]+" /etc/nginx/sites-available/${EB_APP_ENV}-frontend-site.conf | sed 's/^.*server_name \(.*\);/\1/g')
      ADMIN_DOMAIN=$(grep -E "^[[:space:]]+server_name[[:space:]]+" /etc/nginx/sites-available/${EB_APP_ENV}-backend-site.conf | sed 's/^.*server_name \(.*\);/\1/g')

      if [[ ${#SITE_DOMAIN} -lt 30 && ${#ADMIN_DOMAIN} -lt 30 ]]; then
        echo "No need to set server_names_hash_bucket_size."
        exit 0
      fi

      if grep -E "^[[:space:]]+server_names_hash_bucket_size[[:space:]]+" /etc/nginx/nginx.conf >> /dev/null ; then
        # If `server_names_hash_bucket_size` is already in `/etc/nginx/nginx.conf`, replace it.
        sed -i -e "s/^[[:space:]]*server_names_hash_bucket_size[[:space:]]*.*;/    server_names_hash_bucket_size 128;/" /etc/nginx/nginx.conf
      else
        TMP_FILE=/tmp/text_to_insert.txt
        echo "    # For long server name, server_names_hash_bucket_size needs to be increased." > ${TMP_FILE}
        echo "    server_names_hash_bucket_size 128;" >> ${TMP_FILE}
        echo "" >> ${TMP_FILE}
        # Insert the file content above to the next line of 'http' directive.
        sed -i -e "/^[[:space:]]*http[[:space:]]*{/r ${TMP_FILE}" /etc/nginx/nginx.conf
        rm -f ${TMP_FILE}
      fi

  # Make sure that config files are readable
  30-fix-permission:
    command: |
      chmod -R a+r /etc/nginx/sites-available
      chmod -R a+r /etc/nginx/sites-enabled
      chmod -R a+r /etc/nginx/conf.d
