container_commands:
  # Create a user to programmatically ssh to copy data from this env to local
  20-create-user:
    command: |
      if [[ "${EB_APP_ENV}" != "production" ]]; then
        # Only when user not exists
        if ! id october &> /dev/null; then
          # Create user with home directory
          useradd october -m
        fi
        # Create .ssh directory
        mkdir -p ~october/.ssh
        chown october:october ~october/.ssh
      fi
  30-set-authorized_keys:
    command: |
      if [[ "${EB_APP_ENV}" != "production" ]]; then
        # Set variables in .env as environmental variables including AWS credentials enabling aws cli to use
        export $(cat .env | grep -v ^# | xargs)
        aws s3 cp s3://${AWS_S3_BUCKET}/private/${EB_APP_ENV}_authorized_keys /home/october/.ssh/authorized_keys
        chown october:october /home/october/.ssh/authorized_keys
      fi
  # Create .ssh dir of nginx user for data import command
  40-create-nginx-ssh-dir:
    command: |
      mkdir -p ~nginx/.ssh
      chown nginx ~nginx/.ssh
      chmod 744 ~nginx/.ssh
  # Allow everyone to modify files under /var/www/html for debugging
  50-allow-modify-src-for-test:
    command: |
      if [[ "${EB_APP_ENV}" != "production" ]]; then
        chmod -R a+w .
      fi
