files:
  "/etc/sudoers.d/october":
     mode: "000440"
     owner: root
     group: root
     content: |
       october   ALL=(nginx)    NOPASSWD:       /usr/bin/php artisan ?*\:database dump *
       october   ALL=(nginx)    NOPASSWD:       /usr/bin/php artisan ?*\:database dump
       october   ALL=(nginx)    NOPASSWD:       /usr/bin/php artisan utility\:attachemnts ls
       october   ALL=(nginx)    NOPASSWD:       /bin/rm -f /var/app/current/storage/*
       october   ALL=(nginx)    NOPASSWD:SETENV:       /usr/bin/php artisan dusk *
