container_commands:
  10-migrate-up:
    # Execute new migration files.
    command: "php artisan october:up"
  20-set-build:
    # Set October build number shown in backend page.
    command: "php artisan utility:setbuild"
  30-fix-file-permissions:
    # Migration files could create a log file, and thus the owner becomes root.
    # At this point the files are located in directory defined in app_staging_dir
    command: |
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      chown -R ${EB_APP_USER} ${EB_APP_STAGING_DIR}/storage
