# This assumes that Supervisor is already installed and configured on the host.

files:
  "/etc/supervisord/conf.d/october-worker.ini":
    mode: "000755"
    owner: root
    group: root
    content: |
      [program:october-worker]
      process_name=%(program_name)s_%(process_num)02d
      command=php /var/www/html/artisan queue:work
      autostart=true
      autorestart=true
      user=nginx
      numprocs=1
      redirect_stderr=true
      stdout_logfile=/var/log/october-worker.log

container_commands:
  10-start-supervisord:
    command: "service supervisord restart"
  # Auto start on server reboot, just in case.
  20-auto-start-supervisord:
    command: "chkconfig supervisord on"
  # No need to start the queue worker, because Supervisor starts it.
  # But it needs to be restarted after deployment to load the new source code.
  30-restart-queue-worker:
    command: "php artisan queue:restart"
